<% @fields.each do |field| %>
	<% case field[:element] 
		when "input"
	%>

		<% if field[:label] %>

		<label for="<%= field[:name] %>">
			<% if field[:required] %>
			&ast;
			<% end %>
			<%= field[:label] %>
		</label>

		<% end %>

		<input
			type="<%= field[:type] %>"
			<%= field[:required] ? 'required' : '' %>
			<%= field[:name] ? 'name="' + field[:name] +  '"' : '' %>
			<%= field[:value] ? 'value="' + field[:value] + '"' : '' %>
		/>

	<% end %>
<% end %>
